<!-- uso de pipes, transforman datos sen alterar a data orixinal -->
<!-- <h1>{{title | uppercase}}</h1> -->
<!-- <h1>{{title | lowercase}}</h1> -->
<!-- <h1>{{title | titlecase}}</h1> -->
<!-- cortar en x posicion ata x posicion -->
<!-- <h1>{{title | slice: 5:9 | titlecase}}...</h1> -->
<!-- pButton, boton de PrimeNg -->
<!-- <button pButton>Hola Mundo</button> -->
<!-- para qeut enha un check -->
<!-- <p-button label="Click" icon="pi pi-check" iconPos="left"></p-button> -->
<!-- check: -->
<!-- <i class="pi pi-check" style="font-size: 1rem"></i> -->

<!-- orde aparicion dos componentes -->
<shared-menu></shared-menu>
<router-outlet></router-outlet>

